@import url('https://fonts.googleapis.com/css?family=Cutive+Mono|Nova+Mono&display=swap');
.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

a {
  color: #ebebeb;
  size: 2vmin;
  border: none;
}

.App-header {
  background-color: #f0f0f0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: #ebebeb;
  font-family: 'Nova Mono', monospace;
  font-weight: 500;
  font-size: 20vmin;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 5vh;
  width: 100%;
}

.separator {
  position: relative;
  top: -3vmin;
}

.seconds {
  animation-name: secondsAnimation;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.5,0,0.5,1);
  animation-direction: alternate-reverse;
}

.animations {
  animation-name: animation;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.5,0,0.5,1);
  animation-direction: alternate-reverse;
}

@keyframes secondsAnimation {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes animation {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

